body{
    background-color: #f1f1f1 !important;
    font-family: raleway !important;
}
 


h2{
    font-family: raleway;
}

.Imagen-Perfil{
    padding-top: 50px;
    padding-left: 50%;
    padding-right: 50%;
}

p{
    text-align: center;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

a{
    text-align: center;
    color: black !important;
    text-decoration: none;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.foto-perfil{
  max-width: 50px;
  margin-left: 10px;
}

.NombrePerfil{
  margin-right: 10px;
}




.form-control{
  width: 75% !important;
}

.Dispositivo{
  padding-top: 150px;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #a465f2;
  color: white;
  text-align: center;
}












.menu {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 200px;
  }
  
  .menu > li > a {
    background: blue;
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
  }
  
  .menu ul {
    background: #ddd;
    height: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all .5s ease;
    top: 35px;
    width: 100%;
  }
  
  .menu li:hover ul {
    height: 200px;
    opacity: 1;
    transform: translateY(0);
  }
  
  .menu ul a {
    color: #a465f2;
    display: block;
    padding: 5px 20px;
  }




.navbar-custom { 
    background-color: #a465f2; 
    font-family: raleway;
    color: white;
} 

.navbar-brand{
    color: white;
}

.sidebar {
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-family: raleway;
    margin-top: 50px;
  }
   
  .sidebar a.active {
    background-color: #a465f2;
    color: white;
    text-decoration: none;
    transition-duration: 0.3s;
  }
  
  .sidebar a:hover:not(.active) {
    background-color:  #a465f2;
    color: white;
    text-decoration: none;
    transition: 1s;
    
  }
  
  div.content {
    padding-left: 0px;
    padding-top: 50px;
    height: 1000px;
    background-color: #f1f1f1;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }


  .Calendario{
    margin-top: 50px;
  }


  ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background:  #a465f2;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background:  #a465f2;
  color: white !important
}


///


