.campo-entrada input[type=checkbox] {
    display: none;
}

.campo-entrada input[type=checkbox]+label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

.campo-entrada input[type=checkbox]+label:before {
    content: "✔";
    border: 0.1em solid #f4f4f4;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

.campo-entrada input[type=checkbox]:checked+label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
}

.campo-entrada input[type=checkbox]:hover+label:before {
    border-color: cadetblue;
}