table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table caption{
    color: #ecf0f1;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    background-color:  #4A4A4A;
}

th{
    background-color:  #4A4A4A;
}

td, th {
    text-align: left;
    padding: 8px;
}

td a{
    color: #037bee;
}

tr:nth-child(even) {
    background-color: #ddd;
}
tr:nth-child(odd) {
    background-color: #aaa;
}
