@import "otros/header.css";
@import "otros/footer.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "hind", sans-serif;
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    background-position: center;
    background-size: cover;
    background-color: black;
    margin: 0;
}

.contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
}
