button.submit{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    background: rgba(18,18,18,0.5);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    transition: .3s linear;
  }
  
button.submit:hover{
    opacity: .7;
}
  
.formulario form:valid button{
  background: #037bee;
}