
.campo-entrada select {
    display: inline-block;
    padding: 4px 3px 3px 5px;
    margin: 0;
    font: inherit;
    outline:none;
    line-height: 1.2;
    background: rgba(18,18,18,0.5);
    color:white;
    border:0;
    transition: 0.3s;
}

.campo-entrada select:hover{
    background: rgba(18, 18, 18, 0.777);
}

.campo-entrada select:valid{
    background: #037cee5d;
}

.campo-entrada select:valid:hover{
    background: #037ceeab;
}